.projects {
    padding: 20px;
    text-align: center;
  }
  
  .projects h2 {
    font-size: 2em;
    background: linear-gradient(90deg, #ff8c00, #e52e71);
    -webkit-background-clip: text;
    color: transparent;
  }
  
  .projects p {
    font-size: 1.2em;
  }
  